@main-color: #222;
@gray-color: #a8a9aa;
@white-color: #fff;
@violet-color: #5725a9;
@green-color: #00d219;
@red-color: #ee2606;
@orange-color: #ff6104;
@yellow-color: #ffdc50;
@blue-color: #00abd9;
@purple-color: #ff0055;

@font-face {
	font-family: 'Neucha';
	src: url('../fonts/Neucha.ttf') format('truetype'),
	url('../fonts/Neucha.woff') format('woff'),
	url('../fonts/Neucha.eot') format('eot');
}

*,
*:before,
*:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}
address {
  	font-style: normal;
}
nav ul {
  	margin: 0;
  	padding: 0;
  	list-style: none;
}
figure {
  	margin: 0;
}
.clearfix:after {
  	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.to-left {
	float: left;
}
.to-right {
	float: right;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
.container {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
body {
	font-family: 'Neucha', cursive;
	color: @main-color;
	background: @white-color;
	overflow-y: scroll;
}
body, .gl-header, .gl-footer, .block, .bg-color, .block2-divider,
block3-divider, .block4-divider, .footer-shadow {
	width: 100%;
	min-width: 980px;
}
.block {
	overflow: hidden;
}
.gl-header {
	position: fixed;
	top: 0;
	left: 0;
	height: 92px;
	background: url('../img/header-bg.png') repeat-x left top;
	z-index: 100;
}
.logo-top:hover {
	opacity: 0.8;
}
.menu-top {
	margin-top: 20px;
	margin-left: 50px;

	li {
		display: inline-block;
		margin-right: 25px;
		vertical-align: top;

		a {
			font-size: 20px;
			color: @main-color;
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
		a:hover {
			border-bottom-color: @main-color;
		}
	}
}
.phones-top {
	margin-top: 5px;

	.phone-top {
		margin: 0;
		font-size: 22px;
		color: @orange-color;
	}
}
.bg-color {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 545px;
	background: #7cd2fa;
	z-index: 9;
}
.block-1 {
	position: relative;
	background: url('../img/block1-bg.png') no-repeat center top;
	z-index: 10;

	&, .container {
		min-height: 545px;
	}
	.title {
		margin: 95px 15px 20px 0 !important;
		font-size: 40px !important;
		font-weight: bold !important;
		text-align: right !important;
		text-shadow: 1px 1px 0 @white-color !important;
	}
}
.bailo-big {
	position: absolute;
	width: 423px;
	height: 535px;
	top: -70px;
  	left: -230px;
	background: url('../img/block1-bailo.png') no-repeat center center;
	z-index: 11;
}
.tv {
	position: absolute;
	width: 599px;
	height: 480px;
	top: 5px;
	left: 30px;
	padding: 112px 49px;
	background: url('../img/tv-bg.png') no-repeat center center;
}
.action-label {
	position: relative;
	margin: 10px 25px 0 0;
	padding: 5px 10px;
	font-size: 17px;
	text-align: center;
	background: @yellow-color;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	z-index: 10;
}
.block1-form-wrapper {
	position: relative;
	width: 448px;
	height: 315px;
	margin: -10px -90px 0 0;
	background: url('../img/block1-form-bg.png') no-repeat center center;
	z-index: 9;
}
.block1-form {
	position: relative;
	width: 310px;
	top: 45px;
	left: 25px;
	padding: 5px 10px;
	background: @white-color;
}
.block1-form-title {
	margin: 0;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;

	.block1-form-action {
		display: block;
		margin: 0 0 10px;
		font-size: 18px;
		text-decoration: line-through;

		strong {
			display: inline-block;
			font-size: 30px;
			font-weight: normal;
			color: @red-color;
			text-decoration: none;
		}
	}
}
form {
	input[type=text] {
		display: block;
		width: 100%;
		height: 40px;
		margin: 0 0 10px;
		padding: 10px;
		font-family: 'Trebuchet MS', sans-serif;
		color: darken(@gray-color, 35%);
		border: 1px solid @gray-color;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: inset 0 0 3px lighten(@gray-color, 10%);
		box-shadow: inset 0 0 3px lighten(@gray-color, 10%);
		outline: none;
	}
	input[type=submit] {
		width: 288px;
		height: 45px;
		margin: 5px 0 0;
		font-family: 'Trebuchet MS', sans-serif;
		font-size: 18px;
		text-align: center;
		color: @white-color;
		text-transform: uppercase;
		background: url('../img/block1-form-btn.png') no-repeat center center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		text-shadow: 1px 1px 0 darken(@gray-color, 15%);
		border: none;
		outline: none;
	}
	input[type=submit]:hover {
		background: url('../img/block1-form-btn-h.png') no-repeat center center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
	}
}
.timer {
	position: relative;
	width: 267px;
	height: 86px;
	margin: -13px 0 0 40px;
	background: url('../img/timer-bg.png') no-repeat center center;
}
.timer-text {
	margin-top: 26px;
	position: absolute;
	font-size: 30px;
}
.timer-text.days {
	left: 10px;
}
.timer-text.hours {
	left: 64px;
}
.timer-text.minutes {
	left: 113px;
}
.timer-text.seconds {
	left: 162px;
}
.block-2 {
	padding: 45px 0;
}
.block2-divider {
	height: 61px;
	background: url('../img/block2-divider.png') no-repeat center center;
}
.block {

	h2 {
		margin: 0;
		font-size: 40px;
		text-align: center;
	}
}
.advantages-list {
	padding: 30px 0 0;
}
.advantage-single {
	display: inline-block;
	width: 20%;
	margin-right: -4px;
	text-align: center;
	vertical-align: top;

	.img-wrap {
		height: 130px;
		opacity: 0 !important;
		-webkit-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
		vertical-align: top;
	}
}
.advantage-single.visible {
	opacity: 1;
}
.img-wrap.visible {
	opacity: 1 !important;
}
.advantage-single:nth-child(1) {

	.img-wrap {
		height: 134px;
		margin-top: -4px;
	}
}
.advantage-single:nth-child(2) {

	.img-wrap {
		height: 140px;
		margin-top: -10px;
	}
}
.advantage-single:nth-child(4) {

	.img-wrap {
		height: 137px;
		margin-top: -7px;
	}
}
.advantage-title {
	display: block;
	padding: 0 35px;
}
.advantage-title,
.advantage-desc {
	opacity: 0 !important;
	-webkit-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.advantage-title.visible,
.advantage-desc.visible {
	opacity: 1 !important;
}
.advantage-desc {
	margin: 5px 0 0;
	padding: 0 20px;
	font-family: 'Trebuchet MS', sans-serif;
}
.block-3 {
	padding: 45px 0;
	text-align: center;

	h2 {
		display: inline-block;
		min-width: 400px;
		padding: 15px;
		background: url('../img/block3-title-bg.png') no-repeat center center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
	}
}
.bailo-desc {
	width: 660px;
	margin: -5px auto 65px;
	font-size: 20px;
}
.catalog-list {
	position: relative;
}
.bailo-list {
	width: 700px;
	text-align: right;

	a {
		display: inline-block;
		position: relative;
		margin: 0 15px 20px 0;
		text-decoration: none;
		vertical-align: top;
	}
	a:nth-child(3n) {
		margin-right: -4px;
	}
	a:hover .bailo-hover,
	a.bailo-active .bailo-hover {
		display: block;
	}
}
.bailo-hover {
	display: none;
	position: absolute;
	width: 202px;
	height: 203px;
	top: 0;
	right: 9px;
	padding: 40px 30px 0;
	text-align: center;
	background: url('../img/bailos/bailo-h.png') no-repeat center center;
}
.bailo-name {
	font-size: 28px;
	text-align: center;
	text-shadow: 1px 1px 0 darken(@white-color, 15%);
}
.violet-bailo {
	color: lighten(@violet-color, 10%);
}
.yellow-bailo {
	color: lighten(@yellow-color, 10%);
}
.green-bailo {
	color: lighten(@green-color, 10%);
}
.orange-bailo {
	color: lighten(@orange-color, 10%);
}
.blue-bailo {
	color: lighten(@blue-color, 10%);
}
.purple-bailo {
	color: lighten(@purple-color, 10%);
}
.hands-list {

	img {
		position: absolute;
		top: -100px;
		opacity: 0;
		-webkit-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		transition: all 0.6s ease;
	}
	img.visible-hand {
		opacity: 1;
	}
	img[data-color="violet-bailo"] {
		left: -275px;
	}
	img[data-color="yellow-bailo"] {
		top: -25px;
		left: -260px;
	}
	img[data-color="green-bailo"] {
		top: -50px;
		left: -250px;
	}
	img[data-color="orange-bailo"] {
		top: 0;
		left: -250px;
	}
	img[data-color="blue-bailo"] {
		top: -40px;
		left: -237px;
	}
	img[data-color="purple-bailo"] {
		top: 0px;
		left: -258px;
	}
}
.bailo-single-desc {
	position: relative;
	margin-top: 10px;
	padding-top: 40px;
	text-align: left;
}
.bailo-single-info-title,
.bailo-single-info-desc {
	margin: 5px 0;
}
.bailo-single-info-title {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 32px;
}
.bailo-single-info-title[data-color="violet-bailo"] {
	display: block;
}
.bailo-single-info-desc {
	font-size: 20px;
}
.bailo-single-info-price {
	margin: 15px 0 10px;
	font-size: 18px;
	text-decoration: line-through;

	strong {
		display: inline-block;
		margin-left: 10px;
		font-size: 30px;
		color: @red-color;
		text-decoration: none;
	}
}
.order-link {
	display: inline-block;
	padding: 10px 20px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 18px;
	text-align: center;
	color: @white-color;
	text-transform: uppercase;
	text-decoration: none;
	background: url('../img/block1-form-btn.png') no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	text-shadow: 1px 1px 0 darken(@gray-color, 15%);
}
.order-link:hover {
	background: url('../img/block1-form-btn-h.png') no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.block3-divider {
	position: relative;
	height: 11px;
	background: url('../img/block3-divider.png') repeat-x center center;
	z-index: 10;
}
.block-4 {
	position: relative;
	margin: -5px 0;
	background: url('../img/block4-bg.png') repeat left top;
	border-bottom: 7px solid lighten(@orange-color, 12%);
	z-index: 9;

	.container {
		padding: 45px 0 110px;
	}
}
.steps-wrapper {
	width: 1026px;
	height: 337px;
	margin: 20px auto 5px;
	padding: 130px 0 0;
	background: url('../img/block4-inner-bg.png') no-repeat center center;
}
.step-list {
	width: 980px;
	text-align: center;

	.step, .step-arrow {
		display: inline-block;
		vertical-align: top;
		opacity: 0;
		-webkit-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		transition: all 0.6s ease;
	}
	.step {
		width: 105px;
	}
	.step-img {
		height: 65px;
	}
	.step-3 .step-img,
	.step-4 .step-img {
		padding-top: 5px;
	}
	.step-arrow  {
		margin: 30px 0 0;
	}
}
.advantage-addit-list {
	padding-left: 60px;
}
.advantage-addit-single {
	display: inline-block;
	width: 325px;
	min-height: 55px;
	margin-left: 40px;
	padding-left: 85px;
	font-size: 20px;
	vertical-align: top;
}
.advantage-6 {
	background: url('../img/advantage-6.png') no-repeat center left;
}
.advantage-7 {
	background: url('../img/advantage-7.png') no-repeat center left;
}
.block4-divider {
	position: relative;
	height: 187px;
	left: 0;
	top: -92px;
	background: url('../img/block4-divider.png') no-repeat center center;
	z-index: 12;
}
.block-5 {
	margin-top: -25px;
	padding: 0 0 25px;
}
.testimonials-list {

	.testimonial-single {
		float: left;
		width: 480px;
		min-height: 210px;
		margin-bottom: 20px;
	}
	.testimonial-single:nth-child(1),
	.testimonial-single:nth-child(3n) {
		margin-right: 20px;
	}
}
.testimonial-single {

	.testimonial-single-info {
		width: 343px;
		padding-left: 10px;
	}
	.testimonial-single-title {
		margin: 0;
		font-size: 22px;
		font-weight: bold;
	}
	.testimonial-single-desc {
		color: darken(@gray-color, 15%);
	}
	.previews-list {
		margin-bottom: 10px;
	}
	.previews-list img {
		margin-right: 5px;
	}
}
.gl-footer {
	position: relative;
	background: url('../img/block4-bg.png') repeat left top;

	& > .container {
		padding: 60px 0 30px;
	}
	.action-label {
		margin-top: -25px;
	}
}
.footer-shadow {
	position: absolute;
	height: 68px;
	top: 0;
	left: 0;
	background: url('../img/footer-shadow.png') no-repeat center center;
}
.footer-inner {
	width: 1260px;
	height: 378px;
	margin: 15px auto 0;
	margin-left: -170px;
	padding: 50px 110px 50px 200px;
	background: url('../img/footer-inner-bg.png') no-repeat center center;
}
.footer-title-wrapper {
	width: 370.6px;
	padding: 35px 0 0;

	h3 {
		margin: 0;
		font-size: 10px;
		line-height: 54px;
		font-weight: bold;
		color: @orange-color;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 @white-color;
		-webkit-transition: all 0.7s ease;
		-o-transition: all 0.7s ease;
		transition: all 0.7s ease;
	}
	.footer-subtitle {
		margin: 8px 0;
		font-size: 23px;
	}
}
.bailo-blisters {
	position: relative;
	left: -150px;
	opacity: 0;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.footer-price-wrapper {
	margin: 0 0 0 5px;
	padding: 30px 0 0;

	.footer-price {
		width: 162px;
		height: 93px;
		margin: 0 auto 5px;
  		text-align: center;
		background: url('../img/footer-price-bg.png') no-repeat center center;

		strong {
			display: block;
  			padding: 18px 0 0;
			font-size: 28px;
			font-weight: normal;
			color: @white-color;
		}
		span {
			display: block;
			margin: 14px 0 0;
			font-size: 15px;
			color: @gray-color;
			text-decoration: line-through;
		}
	}
	.timer-footer {
		position: relative;
		width: 199px;
		height: 96px;
		background: url('../img/timer-footer-bg.png') no-repeat center center;
	}
	.timer-text {
		margin-top: 36px;
	}
}
.footer-form-wrapper {
	width: 354px;
	height: 278px;
	margin: 0 10px 0 0;
	background: url('../img/footer-form-bg.png') no-repeat center center;
}
.footer-form {
	width: 310px;
	margin: 20px 0 20px 25px;
	padding: 10px 11px;
}
.footer-title {
	margin: 0 0 10px;
}

@media screen and (max-width: 1000px) {
	.block-1 p.title {
		font-size: 10px !important;
	}
	.footer-title-wrapper h3 {
		font-size: 52px;
	}
	.advantage-single {
		margin-right: -15px;
	}
	.timer .timer-text {
		margin-top: 30px;
	}
	.timer-footer .timer-text {
		margin-top: 40px;
	}
}

#thanks {
	position: relative;
	width: 585px;
	margin: 0 auto;
	padding: 45px 20px;
	background: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;

	p {
		margin: 0;
		padding: 10px;
		font-size: 32px;
		text-align: center;
	}
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
img.mfp-img {
	padding: 10px !important;
	background: #fff !important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
.mfp-image-holder .mfp-close {
	top: -30px;
	right: -30px;
}